.card {
  display: flex;
  border: 1px solid #eaeaea;
  margin: 1rem;
  border-radius: 4px;
  padding: 0.5rem;
  width: 90%;
}

.card img {
  width: 40%;
  border-radius: 4px;
}

.card div {
  width: 100%;
  margin-left: 12px;
}

.card p {
  margin: 10px 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.artistName {
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 0.07rem;
}

@media (max-width: 700px) {
  .card {
    flex-direction: column;
    justify-content: center;
  }
  .card p {
    width: 100%;
  }
  .card img {
    width: 100%;
  }
}
